body {
  min-height: 1000px;
}

.results-container {
  display: none;
}

header {
  height: 500px;
  width: 100%;
  background: url("../img/flatirons.jpg");
  background-size: cover;
  opacity: .8;
}
header h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 42px;
  text-align: center;
  margin: 0;
  position: relative;
  top: 40%;
}

footer {
  border-top: 1px solid #fafafa;
  position: absolute;
  bottom: 0;
}
footer p {
  margin: 20px 0;
}

.show-results-btn {
  margin: 20px 0;
}

.dump-item {
  color: blue;
}
